<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter your word" [(ngModel)]="newWord">
  </div>
  <button class="btn btn-default" (click)="onClickAdd()">Add</button>
</div>
<div class="container" style="margin-top:20px">
  <div class="panel panel-default" *ngFor="let x of responseWordData">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <b>{{x.word}}</b>
    </div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Definition</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let xDef of x.definitions">
          <td>{{xDef}}</td>
        </tr>
      </tbody>
    </table>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Examples</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let xExample of x.examples">
          <td>{{xExample}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>